<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>

    <body>
        {% for team in player_data.team.all %}
        <p><a href="{% url 'university:team_detail' team.pk  %}">{{ team.name }}</a></p>
        {% endfor %}
        {% for league in player_data.league.all %}
        <p><a href="{% url 'university:league_detail' league.pk %}">{{ league.name }}</a></p>
        {% endfor %}

        <p><a href="{% url 'university:university_detail' university.pk %}">{{ player_data.university.name }}</a></p> 
    </body>

</html>
